@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif !important;
  }
  .login-img {
    position: relative; 
    background: url('./assets/images/login.webp');
    background-size: cover; 
    background-position: right center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: auto; 
  }
  
  .login-img::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9; 
  }
  
  .side-login-img {
    background: url('./assets/images/side-login1.jpg');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: auto; 
  }
  .css-1ex1afd-MuiTableCell-root{
    font-family: 'Inter' !important;
    color:#000 !important;
  }
  .css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root{
    font-family: 'Inter' !important;
    color:#fff !important;
  }
  .css-1ygcj2i-MuiTableCell-root{
    font-family: 'Inter' !important;
    color:#fff !important;
  }
  